<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>    

      <behaviors>
        <endpointBehaviors>
          <behavior name="web">
            <webHttp />
          </behavior>
        </endpointBehaviors>
        <serviceBehaviors>
          <behavior>
            <serviceMetadata httpGetEnabled="true" />
            <serviceDebug includeExceptionDetailInFaults="false" />
          </behavior>
        </serviceBehaviors>
      </behaviors>    
      
    <services>
      <service name="CEVA_WCF_Service.ServicoViagem">
        <endpoint address="" binding="webHttpBinding" behaviorConfiguration="web" contract="CEVA_WCF_Service.IServicoViagem">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>      
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/v1/ServicoViagem/" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>